{% extends 'base.html.twig' %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>Insert</h1>
    <form action="/add-user" method="post">
        <input class="form-control my-2" id="first-name" type="text" name="firstName" placeholder="First Name">
        <input class="form-control my-2" id="last-name" type="text" name="lastName" placeholder="Last Name">
        <input class="form-control my-2" id="email" type="text" name="email"  placeholder="Email">
        <input type="submit" name="Submitt" class="btn w-100 btn-primary">
    </form>

    <br>
    <br>
    <h1>Update</h1>
{#    <form action="/edit-user" method="post">#}
{#        <input type="hidden" name="userId" value="{{ user.getId() }}">#}
{#        <input class="form-control my-2" id="first-name" type="text" name="firstName" placeholder="First Name" value="{{ user.getFirstName() }}">#}
{#        <input class="form-control my-2" id="last-name" type="text" name="lastName" placeholder="Last Name" value="{{ user.getLastName() }}">#}
{#        <input class="form-control my-2" id="email" type="text" name="email"  placeholder="Email" value="{{ user.getEmail() }}">#}
{#        <input type="submit" name="Submitt" class="btn w-100 btn-primary">#}
{#    </form>#}
</div>
{% endblock %}
